@import url('https://fonts.cdnfonts.com/css/brittany-signature');
@import url('https://fonts.cdnfonts.com/css/salonica');

/* *, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
} */

/*Header starts*/

/*Header ends*/

/*Main starts here*/
.body-content {
    display: flex;
    flex-direction: column;
    gap: 5vw;
    margin-top: 2rem;
    padding-bottom: 2rem;
}

.projects-title {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 0;
}

.project-list {
    text-align: center;
    font-family: 'Roboto Mono', sans-serif;
}

#projects-display {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 16rem));
    justify-content: center;
    grid-gap: 10vw;
}

#item-container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    width: 16rem;
    height: fit-content;
    text-align: center;
    border-radius: 10px;
}

.project-img {
    width: inherit;
    height: 8rem;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.project-name-box {
    padding: 1rem;
    color: #e2e2e2;
    align-content: center;
    background-color: black;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    font-family: 'Inconsolata', sans-serif;
    font-size: 0.9rem;
}
/*Main ends here*/

/*Media queries start*/
@media screen and (max-width: 600px) {
    /*Header tag starts*/
    
    /*Header tag ends*/
}
/*Media queries ends here*/