@import url('https://fonts.cdnfonts.com/css/brittany-signature');
@import url('https://fonts.cdnfonts.com/css/salonica');



header#home-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}

span.logo-description, ul.nav-list {
    font-size: 1.5vw;
    font-family: 'Work Sans', sans-serif;
}



header#home-top
#web-logo
h1#logo-design,
span.logo-description {
    display: inline-block;
    margin-right: 0.5vw;
    font-weight: bold;
}

#home-top
#web-logo {
    margin-left: 5vw;
}

#home-top
#web-logo
#logo-design {
    font-family: 'Brittany Signature', sans-serif;
    font-size: 3vw;
}

#home-top #navbar
.nav-list {
    display: flex;
    gap: 8vw;
    margin: 0;
    margin-right: -28vw;
}

#home-top nav#navbar
ul.nav-list
li.nav-btn {
    list-style: none;
}

.for-web {
    width: 40vw;
    height: 31vw;
    margin-right:6vw;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 6vw;
}

main
div#main-description {
    text-align: center;
    margin-left: 2.5vw;
}

main
div#main-description
h1 {
    margin: 0;
}

main
div#main-description
h1 {
    font-size: 5vw;
}

main
div#main-description
p {
    font-size: 2vw;
}

main
div#main-description
h1,p {
    font-family: 'Work Sans', sans-serif;
}

main
div#main-description
button {
    color: white;
    font-size: 2vw;
    letter-spacing: 0.5vw;
    background-color: black;
    border-radius: 20px;
    border: none;
    width: 25vw;
    cursor: pointer;
}

footer {
    text-align: center;
    letter-spacing: 4vw;
    margin-top: 10vw;
}

footer svg {
    width: 3vw;
    height: 3vw;
}

@media screen and (max-width: 600px) {
    
    header#home-top
    #web-logo
    h1#logo-design {
        font-size: 5vw;
    }

    span.logo-description {
        margin-left: 1vw;
    }

    span.logo-description, ul.nav-list {
        font-size: 3vw;
    }

    header#home-top
    div#hamburger {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 1.7rem;
        height: 1rem;
        gap: 2px;
    }

    span.burger-line {
        width: 100%;
        height: 40%;
        border-radius: 20px;
        background-color: black;
        transition: 0.3s;
    }

    div#hamburger.active
    span.burger-line:nth-child(1) {
        transform: translate(0, 6px) rotate(45deg);
        background-color: white;
    }
    
    div#hamburger.active
    span.burger-line:nth-child(2) {
        opacity: 0;
    }

    div#hamburger.active
    span.burger-line:nth-child(3) {
        transform: translate(0, -6px) rotate(-45deg);
        background-color: white;
    }

    header#home-top
    nav#navbar {
        right: -100px;
    }

    header#home-top
    nav#navbar.active {
        position: fixed;
        top: 0;
        right: 0;
        background-color: black;
        transition: 0.5s;
        width: 200px;
        height: 250px;
        
        ul.nav-list {
            flex-direction: column;
            margin-top: 10vw;
            gap: 10vw;
        }
    }

    ul.nav-list.active li.nav-btn:nth-of-type(n) {
        display: block;
        color: white;
    }

    ul.nav-list li.nav-btn {
        display: none;
    }
    
    main {
        flex-direction: column;
        gap: 5vw;
    }

    main
    div#main-description
    h1 {
        font-size: 9vw;
        justify-content: space-around;
    }

    main
    div#main-description
    p {
        font-size: 4vw;
    }

    main
    div#main-description
    button {
        font-size: 4vw;
        width: 50vw;
        height: 10vw;
        border-radius: 20px;
    }

    main
    div#main-description {
        margin-left: 0;
        order: 2;
    }

    main
    img.for-web {
        width: 80vw;
        height: 70vw;
        margin-right: 0;
        order: 1;
    }

    footer {
        letter-spacing: 5vw;
    }

    footer svg {
        margin-top: 10vw;
        width: 10vw;
        height: 10vw;
    }
}