@import url('https://fonts.cdnfonts.com/css/brittany-signature');
@import url('https://fonts.cdnfonts.com/css/salonica');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&display=swap');
@import "./Projects/projects.css";
@import "./About_Me/about.css";
@import "./Contact/contact.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #0f0f0f;
    color: #e2e2e2;
    height: 100dvh;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

/*Header tag starts*/


header#home-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem 1rem 1.5rem;
}

.logo {
    cursor: pointer;
    width: clamp(10rem, 19vw, 15rem);
}

#navbar {
    padding: 0 1rem 0 0;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 4rem;
    font-family: 'Open Sans', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.contact {
    color: black;
    background-color: #B31D1D;
    padding: 1rem 2rem 1rem 2rem;
    width: max-content;
    font-weight: bold;
    border-radius: 50px;
}

#hamburger {
    display: none;
}

.side-bar {
    position: absolute;
    /* display: flex;
    flex-direction: column; */
    overflow: hidden;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: #e2e2e2;
    transition: 0.3s allow-discrete;
    z-index: 888;
}

/* .side-bar {
    display: none;
} */
/*Header tag ends*/



/*Main tag starts*/

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: ; */
    /* gap: 17rem; */
    padding: 2rem;
}

.job-position {
    font-size: clamp(3rem, 10vw, 6rem);
    font-family: 'Roboto Mono', sans-serif;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    /* margin-top: 10%; */
}

.greeting {
    font-family: 'Smooch Sans', sans-serif;
    color: #B31D1D;
}

.intro-text {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
}

.project-btn {
    background-color: #B31D1D;
    /* width: 17rem; */
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 50px;
    border: none;
    margin-top: 5%;
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: bold;
    cursor: pointer;
}

/*Main tag ends*/

/*Footer tag starts*/
svg {
    display: none;
}
/*Footer tag ends*/



/*Media queries start*/
@media screen and (max-width: 992px) {
    #navbar {
        display: none;
    }

    #hamburger {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 15px;
        z-index: 999;
    }

    .burger-line {
        width: 100%;
        height: 20%;
        background-color: #e2e2e2;
        border-radius: 50px;
        transition: 0.3s;
    }

    .burger-line.active:nth-child(1) {
        transform: translate(0, 6px) rotate(45deg);
    }

    .burger-line.active:nth-child(2) {
        background: transparent;
    }

    .burger-line.active:nth-child(3) {
        transform: translate(0, -6px) rotate(-45deg);
    }

    .side-bar.show {
        width: 40%;
    }

    .top-area {
        position: relative;
        top: 0;
        right: 0;
        width: 100%;
        height: clamp(5.5rem, 11vw, 6rem);
        background-color: #020202;
    }

    .nav-list {
        /* display: flex; */
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;

        li {
            color: #1a1a1a;
            padding: 1rem;
        }
    }

    .contact {
        background: none;
        font-weight: normal;
    }


    svg {
        display: block;
        fill: #B31D1D;
    }
}

@media screen and (max-width: 767px) {
    
    /*Header tag starts*/

    #navbar {
        display: none;
    }
    /*Header tag ends*/
    
    /*Main tag starts*/
    /* .main {
        justify-content: center;
    } */

    .main-content {
        /* justify-content: space-around; */
        gap: 3rem;
    }
    /*Main tag ends*/

    /*Footer tag starts*/

    /*Footer tag ends*/
}
/*Media queries end*/