.contact-content {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 2rem;
    padding: 2rem 0rem;
}

.contact-title {
    font-family: 'Poppins', sans-serif;
    font-size: clamp(2rem, 11vw, 4rem);
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
    width: clamp(10rem, 70vw, 56rem);
}

.contact-box {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: fit-content;
    height: fit-content;
    gap: 1rem;
    padding: 2rem;
    width: 100%;
    color: #1a1a1a;
    background-color: #f7f7f7;
    border-radius: 20px;
}

.contact-icon-container {
    display: flex;
    /* justify-content: center; */
}
.contact-logo-name {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}

.contact-url {
    font-size: clamp(0.9rem, 2vw, 1rem);
}